.pageForm-content {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: 'actions' 'form';
	align-self: start;
	max-height: 100%;

	form {
		will-change: opacity;
		transition: opacity 1s;
		display: grid;
		grid-template-rows: 1fr auto;
		
		&.is-submiting {
			pointer-events: none;
			opacity: .2;
		}
	}

	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="week"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="text"],
	input[type="time"],
	input[type="tel"],
	input[type="url"],
	textarea {
		width: 100%;
		box-sizing: border-box;
		border: none;
		border-bottom: solid 2px white;
		box-shadow: 0 1px 0 var(--bgdark);
		padding: 0.7rem 0;
		background: none;
		transition: border-bottom .1s;
		color: var(--gray);

		&:hover {
			color: var(--black);
		}

		&:focus {
			color: var(--black);
			border-color: var(--color);
			border-bottom-width: 2px;
			box-shadow: none;
		}
	}
	textarea {
		appearance:textfield;
		height: 10em;
	}
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="week"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="time"],
	input[type="tel"] {
		max-width: 20em;
	}
	input[type="range"] {
		width: 100%;
	}
	select {
		appearance: none;
		background-color: var(--xlightgray);
		background-repeat: no-repeat;
		background-position: 95% center;
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(147,154,160)" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></svg>');
		border: none;
		border-bottom: solid 2px white;
		box-shadow: 0 1px 0 var(--bgdark);
		color: var(--gray);
		padding: 0.5em 40px 0.5em 0.5em;
		min-width: 15em;
		transition: border-bottom .1s;

		&:hover {
			color: var(--black);
		}

		&:focus {
			color: var(--black);
			border-color: var(--color);
			border-bottom-width: 2px;
			box-shadow: none;
		}
	}

	.format {
		padding: 1em;

		> label {
			font-weight: var(--font-bold);
			padding: 0.5em 0;
			overflow: hidden;
			text-overflow: ellipsis;
			user-select: none;
		}

		label.error {
			display: block;
			color: var(--error);
			padding: 0.5em;
			margin-bottom: 0.5em;
			font-weight: var(--font-bold);
			border-radius: 3px;
		}

		p {
			margin-bottom: 0;
			color: var(--gray);
		}

		&.has-error {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 1rem;
				left: -2rem;
				width: 6px;
				height: calc(100% - 2rem);
				background: var(--color-error);
			}

			label {
				color: var(--error);
			}
			input, select, textarea {
				border-color: var(--error);
			}
		}

		&.is-responsive {
			> label {
				display: block;
			}
		}

		&.is-boolean {
			> label {
				padding-left: 0.3em;
			}
		}

		&.is-loader {
			padding: 0;
		}

		&.is-choose .is-boolean {
			display: inline-block;
			border: none;
			padding-left: 0;
			padding-right: 2rem;
		}

		&.is-collection {
			border: none;
			padding-top: 3rem;
			padding-bottom: 3rem;

			> div {
				margin-top: -1rem;
				margin-bottom: -1rem;
			}

			+ .format.is-collection {
				border-top: solid 1px var(--bgdark);
			}

			.is-group {
				border-left: solid 4px var(--bgdark);
				padding-left: 1rem;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 1rem;
			}
		}
	}
}

@media (--from-medium) {
	.pageForm {
		.format {
			&.is-responsive {
				display: flex;
				align-items: center;

				> label {
					width: 8rem;
					padding-right: 2rem;
					flex-shrink: 0;
				}

				.format-child-label {
					width: 8rem;
				}

				> div {
					flex-grow: 1;
					width: 50%;
				}

				&.is-large {
					align-items: flex-start;

					> label {
						position: sticky;
						top: 70px;
					}
				}
			}
			&.is-collection {
				> label {
					width: 9rem;
				}
			}
		}
	}
}


.button-separator {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .button {
  	max-width: 100%;
  	color: var(--gray);
  	background-color: var(--black);
  	border-radius: 3px;
	border: var(--border-thin);
	padding: 0.5em;

  	&:hover {
  		background-color: black;
  		color: white;
  		border-color: black;
  	}
  }
}

.button-toolbar {
	position: relative;

	> div {
		display: flex;
		justify-content: flex-end;

		@media (min-width: 500px) {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

  .button {
    color: var(--gray);
    font-weight: var(--font-normal);
    flex-shrink: 0;
    font-size: 0.9rem;
    padding: 0.5em 1em;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    box-sizing: content-box;

    svg {
    	height: 18px;
    	width: 18px;
    	margin: 0;
    	display: block;
    }

    + .button {
    	border-left: none;
    }

    &:hover {
      	color: white;
      	background: black;
    }
  }
}
.button-radio {
	padding-left: 0;
	padding-right: 2rem;

	> label {
		font-weight: var(--font-bold);
		padding: 0.5em .3em;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
	}
}
.pageForm-fields {
	position: relative;
	max-height: calc(100vh - 9rem);
	overflow-y: auto;
	background: white;
	color: var(--black);
	padding: 1rem;
	box-sizing: border-box;
}

.pageForm-actions {
	padding: 0 1rem;
	display: flex;
	--btn-color: var(--gray);

	.button {
		margin-right: 1rem;
	}
}
.pageForm-submit {
	padding: 1rem;
	display: flex;
	--btn-color: var(--gray);

	.button {
		margin-right: 1rem;
	}

	.button.is-main {
		--btn-color: white;
		--btn-bg: var(--color);
		--btn-hbg: var(--darkcolor);
		border-radius: 2px;
	}
}