.pageHome-header {
	h1 {
		font-size: 4em;
		letter-spacing: -0.03em;
		margin: 0;
		line-height: 1;
	}

	p {
		font-size: 0.9rem;
		margin: .5em 0;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}
