.pageSearch-list {
	padding-top: 1rem;
}

.pageSearch-table {
	min-width: 100%;
	margin: 0;
	text-align: left;
	background: white;

	thead {
		th {
			font-weight: var(--font-bold);
			vertical-align: bottom;
			color: var(--gray);
			line-height: 1.1;
			background: var(--black);

			&.is-sorted a {
				background: var(--bgdark);
				color: white;
			}
		}
		a {
			color: var(--color);
			text-decoration: none;
			display: block;
			padding: 1em;
			border-radius: 3px 3px 0 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	tbody {
		th, td {
			color: var(--black);
			background: white;
		}
		tr + tr {
			th, td {
				border-top: dotted 1px var(--bgdark);
			}
		}
		td {
			padding: 1rem;

			&.is-sorted {
				background: var(--bgdark);
			}
		}
		th {
			width: 50px;
			font-weight: var(--font-normal);
			font-size: 0.9em;
			text-align: center;
			padding: 1em;
			border-left: var(--border-thin);
			--btn-bg: var(--color);
			--btn-color: white;
			--btn-hbg: var(--darkcolor);

			.button {
				justify-content: center;
				padding: 0.5em 1em;
				border-radius: 3px;
			}
		}
		dl {
			margin: 0;
		}
		dt {
			font-weight: var(--font-bold);
		}
		dd {
			margin: 0;
		}
		dd + dt {
			margin-top: 1em;
		}

		.is-large {
			font-size: 0.8rem;
			color: var(--gray);
			max-height: 5.4em;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		time {
			font-size: 0.8rem;
			color: var(--gray);
		}

		h1, h2, h3, h4, h5, h6, p, ul, ol {
			margin: .3em 0;
		}
		.is-boolean {
			font-size: 1.6rem;
		}
	}

	.is-boolean {
		text-align: center;
	}

	.is-number {
		text-align: right;
	}
	.is-editable {
		cursor: context-menu;
	}
}
.pageSearch-load {
	padding: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	--btn-bg: var(--color);
	--btn-hbg: var(--darkcolor);
	.button {
		border-radius: 2px;
	}
}
.pageSearch-noresults {
	padding: 2rem;
	text-align: center;
	color: var(--bglight);
	font-size: 4rem;
	letter-spacing: -0.03em;
	font-weight: var(--font-normal);
	align-self: center;
}