@import '../ui/src/button.css';

.button {
	transition: all 0.5s;

  svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }
}

.button.button-link {
  background: none;
  padding: 0.5em 1em;
  color: var(--gray);
  font-weight: var(--font-normal);
  border-radius: 3px;

  &:hover {
    color: var(--black);
    background-color: var(--lightgray);
  }
}

.button.button-bookmarklet {
  background: var(--gray);
  padding: 0.3em 0.5em;
  font-size: 0.8rem;
  font-weight: var(--font-normal);
  display: inline-block;
  width: auto;
  border-radius: 1rem;

  &:hover {
    color: var(--black);
    background-color: var(--lightgray);
  }
}

.button.button-normal {
	background: var(--xlightgray);
	padding: 0.5em 1em;
	min-width: 150px;
  color: var(--black);
  border: var(--border-thin);
  border-radius: 3px;
  margin: .3em .3em 0 0;

  img {
    display: block;
    margin: .5rem 0;
  }

  &:hover {
		background-color: var(--lightgray);

    line {
      stroke: var(--white);
    }
	}
}

.button.button-call {
  background: var(--color);
  padding: 1em 2em;
  min-width: 200px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: var(--font-bold);
  border-radius: 3px;

  &:hover {
    background-color: color(var(--color) blackness(+20%));
    text-decoration: none;
  }
}

.button.button-page {
	background: var(--lightgray);
  padding: 0.5em 1em;
  color: var(--gray);
  font-weight: var(--font-bold);
  border: var(--border-thin);
  font-size: var(--fs-26);
  line-height: 1.6;
  svg {
    margin: 0;
  }

  &:hover {
    color: var(--white);
    background-color: var(--gray);

    line {
      stroke: var(--white);
    }
  }
}

@media (max-width: 400px) {
	.button {
		display: block;
		width: 100%;
	}
}

/* Range */
input[type=range].range {
/* mozilla */
  &::-moz-range-track {
    border: var(--border-thin);
    background: var(--white);
    border-radius: 6px;
  }

  &::-moz-range-thumb {
    border: none;
    border-radius: 2px;
    background: var(--gray);
  }

  /* webkit */
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    background: var(--white);
    border-radius: 6px;
    border: var(--border-thin);
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: var(--white);
  }

  &::-webkit-slider-thumb {
    border: none;
    height: 1.5em;
    width: 1.2em;
    border-radius: 2px;
    background: var(--gray);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5em;
  }

  /* microsoft */
  &::-ms-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 6px;
    border: var(--border-thin);
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    border-radius: 6px;
    border: var(--border-thin);
    background: var(--white);
  }

  &::-ms-thumb {
    border: none;
    height: 1.5em;
    width: 1.2em;
    border-radius: 2px;
    background: var(--gray);
    cursor: pointer;
  }

  &:focus::-ms-fill-lower {
    background: var(--white);
  }
  &:focus::-ms-fill-upper {
    background: var(--white);
  }
}