.editForm {
	display: grid;
	grid-gap: 2em;
	padding: 2em;
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 4px color-mod(black a(.1));
	border: solid 1px var(--gray-line);

	& label {
		color: var(--gray);
	}
	& :checked + label,
	& label:hover {
		color: var(--black);
	}
}
.editForm-input {
	&.is-standard {
		display: flex;
		align-items: center;

		& label {
			width: 8em;
			flex: 0 0 auto;
			margin-right: 1em;
		}

		& output {
			margin-left: 1em;
		}
	}

	&.is-textarea {
		display: flex;
		align-items: flex-start;

		& label {
			width: 8em;
			flex: 0 0 auto;
			margin-right: 1em;
			position: sticky;
			top: 1em;
		}

		& textarea {
			align-self: flex-start;
		}
	}

	&.is-check {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 1em 0;

		& label {
			padding-left: .5em;
			margin-right: 2em;
		}
	}

	&.is-group {
		margin: 1em 0;

		& summary {
			color: var(--blue);
			cursor: default;

			&:hover {
		        color: var(--blue-dark);
				text-decoration: none;
		    }

		    &:active {
		        color: var(--black);
		    }
		}
	}
}
.editForm-container {
	display: grid;
	grid-gap: 1em;
	margin: 1em 0;
}
.editForm-footer  {
	padding: 2em 0;
}
.editForm-subhead {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	text-transform: uppercase;
	margin: 1em 0;
	display: block;
}
.editForm-head {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-normal);
	margin: 1em 0 0;
	display: block;
}