.editForm {
	display: grid;
	grid-gap: 2em;
	margin: 0;
}
.editForm-container {
	display: grid;
	grid-gap: 2em;
	margin: 0;
	padding: 2em;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px color-mod(black a(.15)), 0 1px 1px color-mod(black a(.1));

	& .editForm-container {
		margin: -2em -2em 0;
		border-radius: 0;
		box-shadow: none;
		background: none;
		border-bottom: solid 1px var(--gray-line);

		&:last-child {
			border-bottom: none;
			margin-bottom: -2em;
		}
	}

	&.tabs-content {
		border-bottom: none;
		margin-bottom: -2em;
	}

	& > .tabs-list {
		margin: -1em -2em 0;
	}
}

.editForm-input {
	display: flex;

	&.is-standard {
		align-items: center;

		& label {
			width: 8em;
			flex: 0 0 auto;
			margin-right: 1em;
		}

		& output {
			margin-left: 1em;
		}
	}

	&.is-textarea {
		align-items: flex-start;

		& label {
			width: 8em;
			flex: 0 0 auto;
			margin-right: 1em;
			position: sticky;
			top: 1em;
		}

		& textarea {
			align-self: flex-start;
		}
	}

	&.is-check {
		align-items: center;
		flex-wrap: wrap;
		margin: 1em 0;

		& label {
			padding-left: .5em;
			margin-right: 2em;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.editForm-footer  {
	padding: 2em 0;
}
.editForm-subhead {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	text-transform: uppercase;
	margin: 1em 0;
	display: block;
}
.editForm-head {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-normal);
	margin: 1em 0 0;
	display: block;

	&:first-child {
		margin-top: 0;
	}
}