/* Footer principal */
.footer-primary {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 0;

	.button {
		margin-right: 1rem;
	}

	&.is-floating {
		@media (min-width: 750px) AND (min-height: 400px) {
			position: sticky;
			bottom: 0;
			display: flex;
			color: var(--black);
			box-shadow: 0 0 -5px color(black a(0.05));
			background: var(--black);
			bottom: 0;
			z-index: 10;
			right: 0;
			width: auto;
		}
	}
}
