.ia-12 {
	width: 24px;
	display: block;

	line, circle {
		fill: none;
		stroke: #000;
		vector-effect: non-scaling-stroke;
		transition: all 0.5s;
		stroke-width: 4px;
		stroke-linecap: round;
		opacity: 0;
	}

	--start: 1px;
	--end: 11px;
	--center: 6px;
	--align-start: 2px;
	--align-end: 10px;

	--horizontal-center: translate(var(--start), var(--center));
	--horizontal-top: translate(var(--start), var(--align-start));
	--horizontal-bottom: translate(var(--start), var(--align-end));
	--vertical-center: translate(var(--center), var(--start)) rotate(90deg);
	--vertical-left: translate(var(--align-start), var(--start)) rotate(90deg);
	--vertical-right: translate(var(--align-end), var(--start)) rotate(90deg);

	&.ia-menu {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-top);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: var(--horizontal-center);
			}

			&:nth-child(3) {
				opacity: 1;
				transform: var(--horizontal-bottom);
			}
		}
	}

	&.ia-plus {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-center);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: var(--vertical-center);
			}
		}
	}

	&.ia-minus {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-center);
			}
		}
	}

	&.ia-cross {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: translate(var(--align-end), var(--align-start)) rotate(135deg);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: translate(3px, var(--align-start)) rotate(45deg);
			}
		}
	}

	&.ia-right {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-center);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--end), var(--center)) rotate(225deg);
			}

			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--end), var(--center)) rotate(135deg);
			}
		}
	}

	&.ia-left {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-center);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--start), var(--center)) rotate(-45deg);
			}

			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--start), var(--center)) rotate(45deg);
			}
		}
	}

	&.ia-top {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--vertical-center);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--center), var(--start)) rotate(135deg);
			}

			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--center), var(--start)) rotate(45deg);
			}
		}
	}

	&.ia-bottom {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--vertical-center);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--center), var(--end)) rotate(225deg);
			}

			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--center), var(--end)) rotate(-45deg);
			}
		}
	}

	&.ia-search {
		circle {
			opacity: 1;

		}

		line {
			&:nth-child(1) {
				opacity: 1;
				transform: translate(8px, 8px) rotate(45deg);
			}
		}
	}

	&.ia-check {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: translate(4px, 10px) rotate(225deg);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translate(4px, 10px) rotate(-45deg);
			}
		}
	}

	&.ia-tright {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--vertical-left);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--align-start), var(--start)) rotate(30deg);
			}
			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--align-start), var(--end)) rotate(-30deg);
			}
		}
	}

	&.ia-tleft {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--vertical-right);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--align-end), var(--start)) rotate(150deg);
			}
			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--align-end), var(--end)) rotate(210deg);
			}
		}
	}

	&.ia-ttop {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-bottom);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--end), var(--align-end)) rotate(-120deg);
			}
			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--start), var(--align-end)) rotate(-60deg);
			}
		}
	}

	&.ia-tbottom {
		line {
			&:nth-child(1) {
				opacity: 1;
				transform: var(--horizontal-top);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translate(var(--end), var(--align-start)) rotate(120deg);
			}
			&:nth-child(3) {
				opacity: 1;
				transform: translate(var(--start), var(--align-start)) rotate(60deg);
			}
		}
	}
}
