/* Menu vertical */
.menu-primary {
	background: var(--bgdark);
	box-shadow: inset -5px 0 5px var(--bgdark);

	a {
		border-left: solid 6px transparent;

		&.is-active {
			background: black;
			border-left-color: var(--color);
		}
	}
}

.menu-primary-options {
	list-style: none;
	padding: 0;
	margin: 0;
	color: var(--gray);

	a {
		color: inherit;

		h2 {
			margin: 0;
			font-size: 1rem;
		}

		p {
			margin: 0;
			font-size: .9rem;
		}
	}
}

/* Menú horizontal */
.menu-secondary {
	border-bottom: solid 1px black;
	display: flex;
	z-index: 3;
	background: var(--black);

	.button {
		height: 100%;
	}

	.menu-secondary-search {
		display: flex;
		align-items: center;
		padding: 0;
		flex-grow: 1;
		color: white;
		transition: background .3s, color .3s;

		&.is-focused {
			background: white;
			color: var(--black);
		}

		> label {
			display: block;
			font-weight: var(--font-bold);
			padding: 1rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			a {
				color: inherit;
				text-decoration: none;
			}

			&:hover a {
				text-decoration: underline;
			}

			@media (max-width: 400px) {
				display: none;
			}
		}

		> .twitter-typeahead,
		> input[type="search"] {
			flex-grow: 1;
		}

		input[type="search"] {
			border: none;
			background: none;
			padding: 0.5em;
			width: 100%;
			text-overflow: ellipsis;
			color: inherit;

			&::input-placeholder {
				color: var(--gray);
			}
		}
	}

	.menu-secondary-options {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		border-left: solid 1px black;
	}
}

/*
@media (max-width: 1400px) {
	body.has-menu {
		.menu-secondary, .page {
			transition: transform 0.5s;
		}
		&.menu-is-opened {
			overflow-x: hidden;

			.menu-secondary, .page {
				transform: translate(250px, 0);
			}
		}
	}
}
	
@media (min-width: 1401px) {
	.page {
		margin-left: 250px;
	}
	.menu-secondary {
		padding-left: 250px;
		box-sizing: border-box;

		.menu-btn {
			display: none;
		}
	}
	.menu-primary {
		z-index: 4;
	}
}
*/