/* Buscador typeahead */

.tt-dropdown-menu {
	width: 100%;
	min-width: 230px;
	background: white;
	border-top: none;
	box-sizing: border-box;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,.3);
	color: var(--black);
	border-radius: 0 0 var(--borderRadius) var(--borderRadius);
	margin-top: 5px;
	padding: 0;

	.tt-suggestion {
		padding: 0.5em;

		&.tt-cursor {
			background-color: var(--bgdark);
		}
	}
}

/* Buscador selectize */
@import "selectize";

.selectize-input {
	padding: 0.7rem 0.7rem 0.6rem !important;
	background: var(--lightgray);
	box-shadow: none;
	border-radius: 0;
	border: none;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	display: block;

	input {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}

	&.focus {
		box-shadow: none;
	}
}
.selectize-control.multi .selectize-input > div {
	background: var(--bgdark) !important;
	border-radius: var(--borderRadius);
	padding: 0.3em 0.6em;
}
.selectize-control.single .selectize-input.input-active {
	background: var(--lightgray);
	display: block;
}
.selectize-dropdown {
	font-size: inherit;
	line-height: inherit;
	color: var(--gray);
	background: white;

	.active {
		color: var(--black);
		background: var(--bgdark);
	}
}