/* Buscador typeahead */

.tt-dropdown-menu {
	width: 100%;
	min-width: 230px;
	background: white;
	border-top: none;
	box-sizing: border-box;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,.3);
	color: var(--black);
	border-radius: 0 0 3px 3px;
	margin-top: 5px;
	padding: 0;

	.tt-suggestion {
		padding: 0.5em;

		&.tt-cursor {
			background-color: var(--bgdark);
		}
	}
}

/* Buscador selectize */
@import "selectize";

.selectize-input {
	border: none;
	border-bottom: solid 2px white;
	padding: 0.3em 0 !important;
	box-shadow: 0 1px 0 var(--bgdark);
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	display: block;

	input {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}

	&.focus {
		border-color: var(--color);
		box-shadow: none;
	}
}
.selectize-control.multi .selectize-input > div {
	background: var(--bgdark) !important;
	border-radius: 2px;
	padding: 0.3em 0.6em;
}
.selectize-control.single .selectize-input.input-active {
	background: color(var(--gray) tint(93%));
	display: block;
}
.selectize-dropdown {
	font-size: inherit;
	line-height: inherit;
	color: var(--gray);
	background: white;
	border-top: solid 1px var(--color);

	.active {
		color: var(--black);
		background: var(--bgdark);
	}
}