/* Estilos handsontable */
@import "handsontable";

.handsontableInputHolder {
	.handsontableInput {
		padding: 0;
	}
}
.handsontable {
    th {
        background: var(--xlightgray);
    }
    th, td {
        border-color: var(--alightgray) !important;
    }
}