.format {
	.cke_chrome {
		box-shadow: none;
		border: none;
	}
	.cke_top {
		padding: 0;
		border-bottom: none;
		background: none !important;
		position: sticky;
		top: 70px;
		box-shadow: none;
	}
	.cke_contents {
		border: none;
	}
	.cke_bottom {
		border-top: none;
	}
	.cke_combo_text {
		width: auto; /* para que non quede cortado o texto */
	}
	.CodeMirror-sizer {
		background: #F8F8F8;
	}
	.CodeMirror-gutters {
		background: white;
	}
	.CodeMirror-linenumber {
		color: var(--black);
	}
}

.cke_combopanel {
	width: auto !important;
	max-width: 260px;
}