body {
	font-family: var(--font);
	font-weight: var(--font-weight-normal);
    background: var(--gray-xlight);
    color: var(--black);
}

:focus {
    outline: dotted 2px var(--gray-line);
    outline-offset: 4px;
}
a {
    color: blue;

    &:hover {
        color: darkblue;
        text-decoration: none;
    }

    &:active {
        color: black;
    }
}