@import "system-font.css";
@import "normalize-css";

@custom-media --narrow (min-width: 20rem);
@custom-media --medium (min-width: 40rem);
@custom-media --from-medium (min-width: 40rem);
@custom-media --to-medium (max-width: 39.999rem);

html {
	--font-normal: 300;
	--font-bold: 500;
	--black: #263541;
	--gray: rgb(147,154,160);
	--bgdark: rgba(0,0,0,.15);
	--bgxdark: rgba(0,0,0,.05);
	--bglight: rgba(255,255,255,.1);
	--lightgray: #F8F8F8;
	--color: #28CB8C;
	--darkcolor: #1a9e6b;
	--bgcolor: #28CB8C22;
	--error: red;
	--borderRadius: 2px;

	font-family: system, Helvetica, Arial, sans-serif;
	color: white;
	background: var(--black);
	font-weight: var(--font-normal);
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: var(--font-bold);
}
p, li {
	font-weight: var(--font-normal);
}

::selection {
	background: var(--bgdark);
}

/* Modules */
@import "modules/menu.css";
@import "modules/footer.css";
@import "modules/format.css";
@import "modules/buttons.css";
@import "modules/search.css";
@import "modules/popup.css";
@import "modules/wysiwyg.css";
@import "modules/code.css";
@import "modules/spreadsheet.css";
@import "modules/datetime.css";
@import "modules/progress.css";
@import "modules/notification.css";
@import "modules/media.css";
@import "modules/layout.css";

/* pages */
@import "pages/home.css";
@import "pages/console.css";
@import "pages/form.css";
@import "pages/list.css";
@import "pages/error.css";
