/*
 * .button
 *
 * Base class
 */

/* Generic button */
.button {
	transition: all 0.5s;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 1em;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-style: normal;
	white-space: nowrap;
	margin: 0;
	position: relative;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.25;
	max-width: 100%;
	text-overflow: ellipsis;
	background: var(--btn-bg, none);
	font-family: inherit;
	outline: 0;
	font-weight: var(--font-bold);
	color: var(--btn-color, inherit);

	svg {
		flex: 0 0 24px;
		height: 24px;
		margin-right: 5px;
	}

	path {
		fill: var(--btn-icon, currentColor);
	}

	&:hover,
	&.is-active {
		color: var(--btn-hcolor, white);
		background: var(--btn-hbg, var(--bgdark));
		text-decoration: none;

		path {
			fill: var(--btn-hicon, var(--color));
		}
	}

	/* Buttons containing input[type="file"] */
	input[type="file"] {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		cursor: inherit;
	}

	/* Buttons with select */
	&select {
		line-height: 1;
		padding-right: 0.7em;
		padding-left: 0.7em;
		outline: none;
		text-align: left;

		option {
			padding: 0 0.5em;
		}
	}
}
