/*
 * .button
 *
 * Base class
 */

/* Generic button */
.button {
	transition: all 0.5s;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 1em;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-style: normal;
	white-space: nowrap;
	margin: 0;
	position: relative;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.25;
	max-width: 100%;
	text-overflow: ellipsis;
	background: var(--btn-bg, none);
	font-family: inherit;
	outline: 0;
	font-weight: var(--font-bold);
	color: var(--btn-color, inherit);
	flex-shrink: 0;
	border-radius: var(--borderRadius);

	&.is-simple {
		display: inline-flex;
		font-weight: var(--font-normal);
		font-size: .8rem;
	}

	svg {
		flex: 0 0 24px;
		height: 24px;
		margin-right: 5px;
	}

	path {
		fill: var(--btn-icon, currentColor);
	}

	&:hover,
	&.is-active {
		color: var(--btn-hcolor, inherit);
		background-color: var(--btn-hbg, var(--bgdark));
		text-decoration: none;

		path {
			fill: var(--btn-hicon, var(--color));
		}
	}

	/* Buttons containing input[type="file"] */
	input[type="file"] {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		cursor: inherit;
	}

	/* Buttons with select */
	&select {
		line-height: 1;
		padding-right: 2rem;
		outline: none;
		text-align: left;
		box-shadow: none;
		border: none;
		appearance: none;
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(147,154,160)" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></svg>');
		background-repeat: no-repeat;
		background-position: center right .5rem;

		option {
			padding: 0 0.5em;
		}
	}
}
